/* src/checkbox.less */
.w-checkbox.checkbox_field {
  padding: 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}
.w-checkbox.checkbox_field .w-checkbox-input {
  display: none;
}
.w-checkbox-input.checkbox_button {
  position: absolute;
  top: -2px;
  left: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  z-index: 0;
  -webkit-appearance: none;
}
.w-checkbox-input.checkbox_button:focus {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  z-index: 0;
  outline: 2px -webkit-tap-highlight-color solid;
}
.w-form-label.checkbox_label {
  display: flex;
  align-items: flex-start;
}
.w-form-label.checkbox_label:before {
  content: "";
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  top: -2px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-right: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpolyline style='fill:transparent;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:100' points='450.5 127.5 192.5 385.5 192.5 385.5 64 257'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 50% 50%;
  background-color: #fff;
  transition: background-color 200ms ease, border-color 200ms ease;
}
.error + .w-form-label.checkbox_label:before {
  border-color: #c5335f;
  background-color: rgba(197, 51, 95, 0.08);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpolyline style='fill:transparent;stroke:rgb;stroke-linecap:round;stroke-linejoin:round;stroke-width:100' points='450.5 127.5 192.5 385.5 192.5 385.5 64 257'/%3E%3C/svg%3E");
}
.w-form-label.checkbox_label:hover:before {
  border-color: #c5335f;
}
.w-checkbox-input:checked + .w-form-label.checkbox_label:before {
  background-color: #c5335f;
  border-color: #c5335f;
}
.w-radio .w-form-label.checkbox_label:before {
  background: #fff;
  background-size: 20px 20px;
  border-radius: 999px;
  border-color: rgba(0, 0, 0, 0.1);
}
.w-radio .w-form-label.checkbox_label:hover:before {
  border-color: #c5335f;
}
.w-radio-input:checked + .w-form-label.checkbox_label:before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' fill='%23003473' r='7'/%3E%3C/svg%3E");
  border-color: #c5335f;
  border-width: 2px;
}
[class^=fs-rangeslider_handle] [fs-rangeslider-element] {
  font-size: 0;
  left: -1.25rem;
}
[class^=fs-rangeslider_handle] [fs-rangeslider-element]:before {
  font-size: 1rem;
  display: block;
  width: 3.5rem;
}
[class^=fs-rangeslider_handle][aria-valuenow="1"] [fs-rangeslider-element]:before {
  content: "\a3";
}
[class^=fs-rangeslider_handle][aria-valuenow="2"] [fs-rangeslider-element]:before {
  content: "\a3\a3";
}
[class^=fs-rangeslider_handle][aria-valuenow="3"] [fs-rangeslider-element]:before {
  content: "\a3\a3\a3";
}
[class^=fs-rangeslider_handle][aria-valuenow="4"] [fs-rangeslider-element]:before {
  content: "\a3\a3\a3\a3";
}
[class^=fs-rangeslider_handle][aria-valuenow="5"] [fs-rangeslider-element]:before {
  content: "\a3\a3\a3\a3\a3";
}
.filter-tabs_item {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter_add .w-checkbox {
  margin: 0;
}
.filter_add .w-form-label {
  align-items: center;
  justify-content: center;
}
.filter_add .w-form-label:before {
  margin: auto;
  top: auto;
}
/*# sourceMappingURL=checkbox.css.map */
